<h1>Login</h1>

<div>
<% if flash[:status] == TRUE %>
    <p><%= flash[:alert] %></p>
<% end %>
</div>

<%= form_for(:session, :url => sessions_path) do |f| %>
  <div>
    <%= f.label(:email, "email")%>
    <%= f.text_field :email %>
  </div>
  <div>
    <%= f.label(:password, "Password")%>
    <%= f.password_field :password %>
  </div>
  <div>
    <%= f.submit "Login" %>
  </div>
  <div>
    <%= link_to "New User", register_path %>
  </div>
<% end %>
