<p id="notice"><%= notice %></p>
<p><%= "My Inventory!" %></p>
  <% @ingredients.each do |ingredient| %>
    <p>
      <%= ingredient.name %>
    </p>
     <p>
      <%= ingredient.quantity %>
    </p>
     <li>
      <%= ingredient.amount_type %>
    </p>
  <% end %>
</ul>

<%= link_to "Back", '/users' %>
<%= link_to "Add an Inventory", new_ingredient_path %>

