<!--INVENTORY (after creation)-->

<!--INDIVIDUAL inventoryS (after creation)-->


<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--

Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License

Title      : Team Awesome
Version    : 1.0
Released   : 20081106
Description: A two-column, fixed-width and lightweight template ideal for 1024x768 resolutions. Suitable for blogs and small websites.

-->
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>Team Awesome inventory Finder</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link href="default.css" rel="stylesheet" type="text/css" />
</head>
<body>

<div id="logo-wrap">
<div id="logo">
	<h1>inventorys </h1>
	<h2>   By: Team Awesome</h2>
</div>
</div>

<!-- start header -->
<div id="header">
	<div id="menu">
		<ul>
			<li><%= link_to 'Home', '/users' %></li>
			<li><%= link_to "Recipes", '/recipes' %></li>
			<li><%= link_to "Log out", logout_path %></li>		
			</ul>
	</div>
</div>
<!-- end header -->
<!-- start page -->
<div id="wrapper">
<div id="wrapper-btm">
<div id="page">
	<!-- start content -->
	<div id="content">
		<div class="post">
			<h1 class="title">Inventory</h1>
			<div class="entry">
			<p id="notice"><td><%= notice %></td></tr>
				<table border="0" cellpadding="8">
<tr>
  <td><%= @inventory.amount1 %></td>
  <td><%= @inventory.measure1 %></td>
  <td><%= @inventory.ingredient1 %></td>
</tr>
<tr>
  <td><%= @inventory.amount2 %></td>
  <td><%= @inventory.measure2 %></td>
  <td><%= @inventory.ingredient2 %></td>
</tr>
<tr>
  <td><%= @inventory.amount3 %></td>
  <td><%= @inventory.measure3 %></td>
  <td><%= @inventory.ingredient3 %></td>
</tr>
<tr>
  <td><%= @inventory.amount4 %></td>
  <td><%= @inventory.measure4 %></td>
  <td><%= @inventory.ingredient4 %></td>
</tr>
<tr>
  <td><%= @inventory.amount5 %></td>
  <td><%= @inventory.measure5 %></td>
  <td><%= @inventory.ingredient5 %></td>
<tr>
  <td><%= @inventory.amount6 %></td>
  <td><%= @inventory.measure6 %></td>
  <td><%= @inventory.ingredient6 %></td>  
</tr>
<tr>
  <td><%= @inventory.amount7 %></td>
  <td><%= @inventory.measure7 %></td>
  <td><%= @inventory.ingredient7 %></td>
</tr>

<tr>
  <td><%= @inventory.amount8 %></td>
  <td><%= @inventory.measure8 %></td>
  <td><%= @inventory.ingredient8 %></td>
</tr>
<tr>
  <td><%= @inventory.amount9 %></td>
  <td><%= @inventory.measure9 %></td>
  <td><%= @inventory.ingredient9 %></td>
</tr>
<tr>
  <td><%= @inventory.amount10 %></td>
  <td><%= @inventory.measure10 %></td>
  <td><%= @inventory.ingredient10 %></td>
</tr>
</table>
<%= link_to 'Edit', edit_inventory_path(@inventory) %>

			</div>
		</div>
		</div>
	</div>
	<!-- end content -->
	<!-- start sidebar -->
	<div id="sidebar">
		<ul>
			<li id="search">
				<h2>Search</h2>
				<form method="get" action="">
					<fieldset>
					<input type="text" id="s" name="s" value="" />
					<input type="submit" id="x" value="Search" />
					</fieldset>
				</form>
			</li>
		</ul>
	</div>
	<!-- end sidebar -->
	<div style="clear: both;">&nbsp;</div>
</div>
<!-- end page -->
</div>
</div>
<!-- start footer -->
<div id="footer">
	<div id="footer-wrap">
	<p id="legal">Design by <a href="http://www.freecsstemplates.org/">Free CSS Templates</a>.</p>
	</div>
</div>
<!-- end footer -->
<div align=center>This site brought to you by Team Awesome</div></body>
</html>
