<!--NEW RECIPE-->
<%= form_for(@recipe) do |f| %>
  <% if @recipe.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@recipe.errors.count, "error") %> prohibited this recipe from being saved:</h2>

      <ul>
      <% @recipe.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
<table border="0" cellspacing="10">
  <tr class="field">
    <td>Name</td>
    <td><%= f.text_field :title %></td>
  </tr>
   <tr>
    <td></td>
  </tr>
  <tr class="field">
    <td>Amount 1</td>
    <td><%= f.number_field :amount1 %></td>
  </tr>
  <tr class="field">
    <td>Measure 1</td>
    <td><%= f.select :measure1, [['',''],['Cup','cup'],['Individual','individual'],['Pound','pound'],['Teaspoon','teaspoon']] %></td>
  </tr>
  <tr class="field">
    <td>Ingredient 1</td>
    <td><%= f.text_field :ingredient1 %></td>
  </tr>
  <tr>
    <td></td>
  </tr>
  <tr class="field">
    <td>Amount 2</td>
    <td><%= f.number_field :amount2 %></td>
  </tr>
  <tr class="field">
    <td>Measure 2</td>
    <td><%= f.select :measure2, [['',''],['Cup','cup'],['Individual','individual'],['Pound','pound'],['Teaspoon','teaspoon']] %></td>
  </tr>
  <tr class="field">
    <td>Ingredient 2</td>
    <td><%= f.text_field :ingredient2 %></td>
  </tr>
  <tr>
    <td></td>
  </tr>
  <tr class="field">
    <td>Amount 3 </td>
    <td><%= f.number_field :amount3 %></td>
  </tr>
  <tr class="field">
    <td>Measure 3</td>
    <td><%= f.select :measure3, [['',''],['Cup','cup'],['Individual','individual'],['Pound','pound'],['Teaspoon','teaspoon']] %></td>
  </tr>
  <tr class="field">
    <td>Ingredient 3</td>
    <td><%= f.text_field :ingredient3 %></td>
  </tr>
  <tr>
    <td></td>
  </tr>
  <tr class="field">
    <td>Amount 4</td>
    <td><%= f.number_field :amount4 %></td>
  </tr>
  <tr class="field">
    <td>Measure 4</td>
    <td><%= f.select :measure4, [['',''],['Cup','cup'],['Individual','individual'],['Pound','pound'],['Teaspoon','teaspoon']] %></td>
  </tr>
  <tr class="field">
    <td>Ingredient 4</td>
    <td><%= f.text_field :ingredient4 %></td>
  </tr>
  <tr>
    <td></td>
  </tr>
  <tr class="field">
    <td>Amount 5</td>
    <td><%= f.number_field :amount5 %></td>
  </tr>
  <tr class="field">
    <td>Measure 5</td>
    <td><%= f.select :measure5, [['',''],['Cup','cup'],['Individual','individual'],['Pound','pound'],['Teaspoon','teaspoon']] %></td>
  </tr>
  <tr class="field">
    <td>Ingredient 5</td>
    <td><%= f.text_field :ingredient5 %></td>
  </tr>
  <tr>
    <td></td>
  </tr>
  <tr class="field">
    <td>Amount 6</td>
    <td><%= f.number_field :amount6 %></td>
  </tr>
  <tr class="field">
    <td>Measure 6</td>
    <td><%= f.select :measure6, [['',''],['Cup','cup'],['Individual','individual'],['Pound','pound'],['Teaspoon','teaspoon']] %></td>
  </tr>
  <tr class="field">
    <td>Ingredient 6</td>
    <td><%= f.text_field :ingredient6 %></td>
  </tr>
  <tr>
    <td></td>
  </tr>
  <tr class="field">
    <td>Amount 7</td>
    <td><%= f.number_field :amount7 %></td>
  </tr>
  <tr class="field">
    <td>Measure 7</td>
    <td><%= f.select :measure7, [['',''],['Cup','cup'],['Individual','individual'],['Pound','pound'],['Teaspoon','teaspoon']] %></td>
  </tr>
  <tr class="field">
    <td>Ingredient 7</td>
    <td><%= f.text_field :ingredient7 %></td>
  </tr>
  <tr>
    <td></td>
  </tr>
  <tr class="field">
    <td>Amount 8</td>
    <td><%= f.number_field :amount8 %></td>
  </tr>
  <tr class="field">
    <td>Measure 8</td>
    <td><%= f.select :measure8, [['',''],['Cup','cup'],['Individual','individual'],['Pound','pound'],['Teaspoon','teaspoon']] %></td>
  </tr>
  <tr class="field">
    <td>Ingredient 8</td>
    <td><%= f.text_field :ingredient8 %></td>
  </tr>
  <tr>
    <td></td>
  </tr>
  <tr class="field">
    <td>Amount 9</td>
    <td><%= f.number_field :amount9 %></td>
  </tr>
  <tr class="field">
    <td>Measure 9</td>
    <td><%= f.select :measure9, [['',''],['Cup','cup'],['Individual','individual'],['Pound','pound'],['Teaspoon','teaspoon']] %></td>
  </tr>
  <tr class="field">
    <td>Ingredient 9</td>
    <td><%= f.text_field :ingredient9 %></td>
  </tr>
  <tr>
    <td></td>
  </tr>
  <tr class="field">
    <td><%= f.label :amount10 %></td>
    <td><%= f.number_field :amount10 %></td>
  </tr>
  <tr class="field">
    <td>Measure 10</td>
    <td><%= f.select :measure10, [['',''],['Cup','cup'],['Individual','individual'],['Pound','pound'],['Teaspoon','teaspoon']] %></td>
  </tr>
  <tr class="field">
    <td>Ingredient 10</td>
    <td><%= f.text_field :ingredient10 %></td>
  </tr>
  <tr>
    <td></td>
  </tr>
  <tr class="field">
    <td>Instructions</td>
    <td><%= f.text_area :instructions %></td>
  </tr>
  <tr class="actions">
    <td></td>
    <td><%= f.submit %></td>
  </tr>
</table>  
<% end %>
