<!--RECIPE LIST-->
<body bgcolor="66CCFF">
<h2>All Recipes</h2>


<% @recipes.each do |recipe| %>
<h3><%= recipe.title %></h3>
<table>
  <td><%= recipe.amount1 %></td>
  <td><%= recipe.measure1 %></td>
  <td><%= recipe.ingredient1 %></td>
</tr>
<tr>
  <td><%= recipe.amount2 %></td>
  <td><%= recipe.measure2 %></td>
  <td><%= recipe.ingredient2 %></td>
</tr>
<tr>
  <td><%= recipe.amount3 %></td>
  <td><%= recipe.measure3 %></td>
  <td><%= recipe.ingredient3 %></td>
</tr>
<tr>
  <td><%= recipe.amount4 %></td>
  <td><%= recipe.measure4 %></td>
  <td><%= recipe.ingredient4 %></td>
</tr>
<tr>
  <td><%= recipe.amount5 %></td>
  <td><%= recipe.measure5 %></td>
  <td><%= recipe.ingredient5 %></td>
<tr>
  <td><%= recipe.amount6 %></td>
  <td><%= recipe.measure6 %></td>
  <td><%= recipe.ingredient6 %></td>  
</tr>
<tr>
  <td><%= recipe.amount7 %></td>
  <td><%= recipe.measure7 %></td>
  <td><%= recipe.ingredient7 %></td>
</tr>

<tr>
  <td><%= recipe.amount8 %></td>
  <td><%= recipe.measure8 %></td>
  <td><%= recipe.ingredient8 %></td>
</tr>
<tr>
  <td><%= recipe.amount9 %></td>
  <td><%= recipe.measure9 %></td>
  <td><%= recipe.ingredient9 %></td>
</tr>
<tr>
  <td><%= recipe.amount10 %></td>
  <td><%= recipe.measure10 %></td>
  <td><%= recipe.ingredient10 %></td>
</tr>
</table>

<b>Instructions:</b>
<p><%= recipe.instructions %></p>
<%= link_to 'Show', recipe %>
<%= link_to 'Edit', edit_recipe_path(recipe) %>
<%= link_to 'Destroy', recipe, method: :delete, data: { confirm: 'Are you sure?' } %>




<br>
<br>
<% end %>
<br />

<%= link_to 'New Recipe', new_recipe_path %> | 
<%= link_to 'Back', '/users' %>
