<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @recipe.title %>
</p>

<p>
  <b>Amount1:</b>
  <%= @recipe.amount1 %>
</p>

<p>
  <b>Measure1:</b>
  <%= @recipe.measure1 %>
</p>

<p>
  <b>Ingredient1:</b>
  <%= @recipe.ingredient1 %>
</p>

<p>
  <b>Amount2:</b>
  <%= @recipe.amount2 %>
</p>

<p>
  <b>Measure2:</b>
  <%= @recipe.measure2 %>
</p>

<p>
  <b>Ingredient2:</b>
  <%= @recipe.ingredient2 %>
</p>

<p>
  <b>Amount3:</b>
  <%= @recipe.amount3 %>
</p>

<p>
  <b>Measure3:</b>
  <%= @recipe.measure3 %>
</p>

<p>
  <b>Ingredient3:</b>
  <%= @recipe.ingredient3 %>
</p>

<p>
  <b>Amount4:</b>
  <%= @recipe.amount4 %>
</p>

<p>
  <b>Measure4:</b>
  <%= @recipe.measure4 %>
</p>

<p>
  <b>Ingredient4:</b>
  <%= @recipe.ingredient4 %>
</p>

<p>
  <b>Amount5:</b>
  <%= @recipe.amount5 %>
</p>

<p>
  <b>Measure5:</b>
  <%= @recipe.measure5 %>
</p>

<p>
  <b>Ingredient5:</b>
  <%= @recipe.ingredient5 %>
</p>

<p>
  <b>Amount6:</b>
  <%= @recipe.amount6 %>
</p>

<p>
  <b>Measure6:</b>
  <%= @recipe.measure6 %>
</p>

<p>
  <b>Ingredient6:</b>
  <%= @recipe.ingredient6 %>
</p>

<p>
  <b>Amount7:</b>
  <%= @recipe.amount7 %>
</p>

<p>
  <b>Measure7:</b>
  <%= @recipe.measure7 %>
</p>

<p>
  <b>Ingredient7:</b>
  <%= @recipe.ingredient7 %>
</p>

<p>
  <b>Amount8:</b>
  <%= @recipe.amount8 %>
</p>

<p>
  <b>Measure8:</b>
  <%= @recipe.measure8 %>
</p>

<p>
  <b>Ingredient8:</b>
  <%= @recipe.ingredient8 %>
</p>

<p>
  <b>Amount9:</b>
  <%= @recipe.amount9 %>
</p>

<p>
  <b>Measure9:</b>
  <%= @recipe.measure9 %>
</p>

<p>
  <b>Ingredient9:</b>
  <%= @recipe.ingredient9 %>
</p>

<p>
  <b>Amount10:</b>
  <%= @recipe.amount10 %>
</p>

<p>
  <b>Measure10:</b>
  <%= @recipe.measure10 %>
</p>

<p>
  <b>Ingredient10:</b>
  <%= @recipe.ingredient10 %>
</p>

<p>
  <b>Instructions:</b>
  <%= @recipe.instructions %>
</p>


<%= link_to 'Edit', edit_recipe_path(@recipe) %> |
<%= link_to 'Back', recipes_path %>
