<!--User Home-->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--

Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License

Title      : Team Awesome
Version    : 1.0
Released   : 20081106
Description: A two-column, fixed-width and lightweight template ideal for 1024x768 resolutions. Suitable for blogs and small websites.

-->
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>Team Awesome Recipe Finder</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link href="default.css" rel="stylesheet" type="text/css" />
</head>
<body>

<div id="logo-wrap">
<div id="logo">
	<h1 color="white" >Recipes </h1>
	<h2>   By: Team Awesome</h2>
</div>
</div>

<!-- start header -->
<div id="header">
	<div id="menu">
		<ul>
			<li class="current_page_item"><a href="#">Home</a></li>
			<li ><%= link_to "Recipes", '/recipes' %></li>
		</ul>
	</div>
</div>
<!-- end header -->
<!-- start page -->
<div id="wrapper">
<div id="wrapper-btm">
<div id="page">
	<!-- start content -->
	<div id="content">
		<div class="post">
			<h1 class="title"><h1>Register</h1></h1>
			<div class="entry">
				<table border="0">
					<%= form_for @user do |user| %>
   				    <tr>
        				<td><%= user.label(:first_name, "First Name")%></td>
        				<td><%= user.text_field :first_name %></td>
        				<td>
            				<% if flash[:status] == FALSE %>
                			<% flash[:alert].each do |error| %>
                    			<%= error %><br>
                			<% end %>
            				<% end %>
        				</td>
    				</tr>
    				<tr>
				        <td><%= user.label(:last_name, "Last Name")%></td>
        				<td><%= user.text_field :last_name %></td>
				    </tr>
    				<tr>
        			<td><%= user.label(:password, "Password")%></td>
        <td><%= user.password_field :password %></td>
    </tr>
    <tr>
        <td><%= user.label(:password_confirmation, "Confirm Password")%></td>
        <td><%= user.password_field :password_confirmation %></td>

    </tr>
    <tr>
        <td><%= user.label(:email, "Email")%></td>
        <td><%= user.text_field :email %></td>
    </tr>
    <tr>
        <td><%= submit_tag "Register" %></td>
    </tr>
<% end %>
</table>
			</div>
		</div>
		</div>
	</div>
	<!-- end content -->
	<!-- start sidebar -->
	<div id="sidebar">
		<ul>
			<li id="search">
				<h2>Search</h2>
				<%= form_tag "/search", :method => "get" do %>
					<%label_tag(:search, "Search for: " ) %>
     				<%= text_field_tag(:search)%>
					<%= submit_tag "Search", :name => nil %>
					<% end %>
				</form>
			</li>
		</ul>
	</div>
	<!-- end sidebar -->
	<div style="clear: both;">&nbsp;</div>
</div>
<!-- end page -->
</div>
</div>
<!-- start footer -->
<div id="footer">
	<div id="footer-wrap">
	<p id="legal">Design by <a href="http://www.freecsstemplates.org/">Free CSS Templates</a>.</p>
	</div>
</div>
<!-- end footer -->
<div align=center>This site brought to you by Team Awesome</div></body>
</html>