Inventory: <%= link_to "Back", '/inventories/@inventory.id'%> 
<hr /> 
<%= form_for @ingredient, url: ingredients_path, html: {method: :post} do |f|%> 
   <%= f.label(:quantity, "Quantity")%>
   <p><%= f.text_field :quantity%> </p> 
   <%= f.label(:amountType, "Measurement")%>
   <p><%= f.text_field :amountType%> <p/> 
   <%= f.label(:name, "Ingredient name")%>
   <p><%= f.text_field :name%> </p> 
   <%= f.submit "Submit"%> 
<% end %>

